#tit {
	margin: auto;
	padding: 5vh 0vw;/*1.25em, 0em;/*20px 0px;*/
	font-family: 'Fugaz One', cursive;
	font-size: 4.125em;/*50px;*/
}

#tablaInfo {
	margin: auto;
	width: 80%;
	padding: 1.25em, 0em;/*20px 0px;*/
}

.celdasCont {
	width: 50%;
	border-bottom: 0.125em /*2px*/ solid black;
}

.infoCelda {
	text-align: left;
	font-family: 'Fugaz One', cursive;
	color: black;
	font-size: 1.5625em;/*25px;*/
}

.infoCelda2 {
	text-align: right;
	font-family: 'Fugaz One', cursive;
	color: black;
	font-size: 1.5625em;/*25px;*/
}


@media screen and (max-width:720px) and (orientation: portrait) { /*resolucion para celulares*/

	#tit {
		margin: auto;
		padding: 5vh 0vw;/*1.25em, 0em;/*20px 0px;*/
		font-family: 'Fugaz One', cursive;
		font-size: 6vw;/*3.125em;/*50px;*/
	}
	
	#tablaInfo {
		margin: auto;
		width: 80%;
		padding: 1.25em, 0em;/*20px 0px;*/
	}
	
	.celdasCont {
		width: 50%;
		border-bottom: 0.125em /*2px*/ solid black;
	}
	
	.infoCelda {
		text-align: left;
		font-family: 'Fugaz One', cursive;
		color: black;
		font-size: 3vw;/*1.5625em;/*25px;*/
	}

	.infoCelda2 {
		text-align: right;
		font-family: 'Fugaz One', cursive;
		color: black;
		font-size: 3vw;/*1.5625em;/*25px;*/
	}

}