#tit {
	margin: auto;
	padding: 20px 0px;
	font-family: 'Fugaz One', cursive;
	font-size: 50px;
}

#tablaInfo {
	margin: auto;
	width: 80%;
	padding: 20px 0px;
}

.celdasCont {
	width: 50%;
	border-bottom: 2px solid black;
}

.infoCelda {
	text-align: left;
	font-family: 'Fugaz One', cursive;
	color: black;
	font-size: 25px;
}